canvas {
  max-width: 85%; /* Pour que le canvas soit toujours à 100% de la largeur de l'écran */
  height: auto; /* Pour conserver le ratio de l'image */
  display: block; /* Pour éviter les espaces supplémentaires */
  border: 2px solid black; /* Bordure */
  background-color: #ccc; /* Couleur de fond */
  margin: 20px auto; /* Marge externe */
}
